// mixins
@mixin bg($class, $color: $lighter) {
  .bg-#{$class} {
    background: default-color($color);
    border-color: hover($color);

    @if (lightness($color) > 70%) {
      color: $darkgrey;
    }

    &.inverted {
      @if (lightness($color) < 20%) {
        color: transparentize($lighter, .12);
        border-color: transparentize($lighter, .12);
      }
      @else {
        color: default-color($color);
        border-color: default-color($color);
      }
    }

    &.raised-out {
      box-shadow: 0 .4em 0 -.2em $color;
    }

    &.enabled {
      background: enabled($color);
    }
    &.disabled {
      background: disabled($color);
    }
  }
}


// bg definition
[class*="bg"] {
  color: transparentize($lighter, .12);

  &.simple {
    color:  lighten($lighter, 5%);
    border-color:  lighten($lighter, 5%);
  }

  &.raised {
    box-shadow: 0 -.2em 0 0 transparentize($real-black, .8) inset;
  }

  &.inverted {
    background: $dark;

    &.simple {
      color: transparentize($lighter, .12);
      border-color: transparentize($lighter, .12);
    }

    &.raised {
      box-shadow: 0 -5px 10px 0 $darker inset, 0 0 2px 0 $darker inset;
    }
  }
}


// code
// todo: color()
@each $name, $color in $colors {
  @include bg('#{$name}', $color);
}
