// mixins
@mixin bg($class, $color: $lighter) {
  .bg-#{$class} {
    background: default-color($color);
    border-color: hover($color);

    @if (lightness($color) > 70%) {
      color: $darkgrey;
    }

    &.inverted {
      @if (lightness($color) < 20%) {
        color: transparentize($lighter, .12);
        border-color: transparentize($lighter, .12);
      }
      @else {
        color: default-color($color);
        border-color: default-color($color);
      }
    }

    &.classic {
      box-shadow: 0px -5px 10px 0px enabled($color) inset, 0px 0px 2px 0px enabled($color) inset, 0px 0px 1px 0px enabled($color);
    }

    &.modern {
      box-shadow: 0px 4px 0 -2px $color;
    }

    &.enabled {
      background: enabled($color);
    }
    &.disabled {
      background: disabled($color);
    }
  }
}


// bg definition
[class*="bg"] {
  color: transparentize($lighter, .12);

  &.simple {
    color:  lighten($lighter, 5%);
    border-color:  lighten($lighter, 5%);
  }

  &.inverted {
    background: $dark;

    &.simple {
      color: transparentize($lighter, .12);
      border-color: transparentize($lighter, .12);
    }

    &.classic {
      box-shadow: 0px -5px 10px 0px $darker inset, 0px 0px 2px 0px $darker inset;
    }
  }
}


// code
// todo: color()
@each $name, $color in $colors {
  @include bg('#{$name}', $color);
}
