@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: $darkgrey;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.header,
.title {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: .2rem 0;
  font-weight: 500;
  line-height: 1;
  display: flex;
  color: $dark;
}
[class*="bg-"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $lighter;
  }
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

.align {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}

.float {
  &-left {
    float: left;
    margin-left: 0;
  }
  &-right {
    float: right;
    margin-right: 0;
  }
}

.pull {
  &-center {
    margin: 0 auto;
  }

  &-right {
    margin-left: auto;
    margin-right: 0;
  }
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.beauty {
  border-radius: .2em;
}
.circular {
  border-radius: 4em;
}

.fluid {
  width: 100%;
}

.margin {
  & {
    margin: 1em;
  }
  &-height {
    margin: 1em 0;
  }
  &-width {
    margin: 0 1em;
  }
  &-none {
    margin: 0;
  }
}

.padding {
  & {
    padding: 1em;
  }
  &-height {
    padding: 1em 0;
  }
  &-width {
    padding: 0 1em;
  }
  &-none {
    padding: 0;
  }
}

[class*="s"] {
  &.border-none > *{
    border: 0 none;
  }
  &.fluid > * {
    width: 100%;
  }
}
