// functions
@function default-color($color) {
  @return lighten($color, 5%);
}
@function disabled($color) {
  @return lighten($color, 10%);
}
@function enabled($color) {
  @return darken($color, 5%);
}
@function hover($color) {
  @return $color;
}
@function darker-hover($color) {
  @return darken($color, 10%);
}

// color variables - individual use
$white: #FFF;
$black: #323232;
$blue: #1B80CB;
$darkblue: #23485F;
$green: #2FAD5D;
$grey: #ADADAD;
$lightblue: #4EB3FE;
$purple: #613EA4;
$red: #E43939;
$teal: #008080;
$yellow: #FFA500;

// default colors
$lighter: #FEFEFE;
$light: #CCC;
$darkgrey: #444;
$dark: #333;
$darker: #262626;

$default: $grey;
$primary: $black;
$secondary: $teal;
$success: $green;
$info: $lightblue;
$danger: $red;
$warning: $yellow;

// color map
$colors: (
  white: $white,
  black: $black,
  blue: $blue,
  dark-blue: $darkblue,
  green: $green,
  grey: $grey,
  light-blue: $lightblue,
  purple: $purple,
  red: $red,
  teal: $teal,
  yellow: $yellow,

  lighter: $lighter,
  light: $light,
  dark-grey: $darkgrey,
  dark: $dark,
  darker: $darker,

  default: $default,
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  danger: $danger,
  warning: $warning
);
