// functions
@function default-color($color) {
  @return lighten($color, 5%);
}
@function disabled($color) {
  @return lighten($color, 10%);
}
@function enabled($color) {
  @return darken($color, 5%);
}
@function hover($color) {
  @return $color;
}
@function darker-hover($color) {
  @return darken($color, 10%);
}

// color variables - individual use
$white: #FFF;
$black: #323232;
$blue: #1B80CB;
$darkblue: #23485F;
$green: #2FAD5D;
$grey: #ADADAD;
$lightblue: #4EB3FE;
$purple: #613EA4;
$red: #E43939;
$teal: #008080;
$yellow: #FFA500;

// default colors
$lighter: #FEFEFE;
$light: #CCC;
$darkgrey: #444;
$dark: #333;
$darker: #262626;

$default: $grey;
$primary: $black;
$secondary: $teal;
$success: $green;
$info: $lightblue;
$danger: $red;
$warning: $yellow;

// social newtworks
$facebook: #3B5998;
$flickr: #FE0883;
$foursquare: #8FD400;
$googleplus: #C63D2D;
$instagram: #4E433C;
$linkedin: #0077B5;
$tumblr: #2B4964;
$twitter: #33CCFF;
$vimeo: #86B32D;
$youtube: #FF3333;

// color map
$colors: (
  white: $white,
  black: $black,
  blue: $blue,
  dark-blue: $darkblue,
  green: $green,
  grey: $grey,
  light-blue: $lightblue,
  purple: $purple,
  red: $red,
  teal: $teal,
  yellow: $yellow,

  lighter: $lighter,
  light: $light,
  dark-grey: $darkgrey,
  dark: $dark,
  darker: $darker,

  default: $default,
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  danger: $danger,
  warning: $warning,

  facebook: $facebook,
  flickr: $flickr,
  foursquare: $foursquare,
  google-plus: $googleplus,
  instagram: $instagram,
  linkedin: $linkedin,
  tumblr: $tumblr,
  twitter: $twitter,
  video: $vimeo,
  youtube: $youtube
);
