@mixin bg-box($class, $color) {
  .#{$class}.box,
  .#{$class}.boxes > .box:first-child {
      border-top-color: $color;
  }
  .bg-#{$class} {
    &.raised-out {
      &.box,
      &.boxes {
        box-shadow: 0 8px 0 -4px lighten($color, 10%);
      }
    }
  }
  .#{$class} {
    &.raised-out {
      &.box,
      &.boxes {
        border-color: $color;
        box-shadow: 0 8px 0 -4px $color;
      }
    }
  }
}
@mixin simple-box($class, $color) {
  .#{$class}.box,
  .#{$class}.boxes {
    & > .box {
      border-top-color: $color;
    }
  }
}

.box {
  padding: 1em;

  &.panel {
    padding: 0;
    border-top: 5px solid darken($lighter, 10%);

    & > .head {
      border-bottom: 1px solid darken($lighter, 10%);
      font-size: 1.2em;
    }
    & > .foot {
      border-top: 1px solid darken($lighter, 10%);
    }
    & > .head,
    & > .body,
    & > .foot {
      padding: 1em;
    }
  }

  &.main {
    min-height: 30em;
    font-size: 18px;
    padding: 2em;
  }
}

.box {
  border-width: 2px 1px 1px;
  border-style: solid;
  border-color: darken($lighter, 10%);
}

.box,
.boxes {
  color: $dark;
  background: $lighter;
  margin: .4em 0;
  box-shadow: 0 2px 2px 0 transparentize($dark, .8);

  &[class*="bg"],
  &[class*="bg"] > .box {
    border: 0 none;
    color: $lighter;

    .title {
      color: $lighter;
    }
  }

  &.beauty {
    border-radius: .4em;
  }

  &.raised-out {
    box-shadow: 0 8px 0 -4px darken($lighter, 10%);
  }

  .row,
  [class*="col-"] {
    margin: 0;
    padding: 0;
  }
}

.boxes {
  & > .box {
    margin: 0;
    box-shadow: unset;
    border-width: 1px 1px 0;
    background: inherit;

    &:first-child {
      border-width: 2px 1px 0;
    }
  }

  &.beauty {
    & > .box:first-child {
      border-radius: .4em .4em 0 0;
    }
    & > .box:last-child {
      border-radius: 0 0 .4em .4em;
    }
  }
}

// code
@each $name, $color in $colors {
  @include bg-box('#{$name}', $color);
  @include simple-box('#{$name}', $color);
}
