@mixin bg-box($class, $color) {
  .#{$class}.box,
  .#{$class}.box.human,
  .#{$class}.boxes > .box:first-child {
      border-top-color: $color;
  }
  .bg-#{$class} {
    &.modern {
      &.box,
      &.boxes {
        box-shadow: 0 8px 0 -4px lighten($color, 10%);
      }
    }
  }
  .#{$class} {
    &.modern {
      &.box,
      &.boxes {
        border-color: $color;
        box-shadow: 0 8px 0 -4px $color;
      }
    }
  }
}
@mixin simple-box($class, $color) {
  .#{$class}.box,
  .#{$class}.boxes {
    & > .box {
      border-top-color: $color;
    }
  }
}

.box {
  padding: 1em;

  &.human {
    padding: 0;
    border-top: 5px solid darken($lighter, 10%);

    & > .head {
      border-bottom: 1px solid darken($lighter, 10%);
      font-size: 1.2em;
    }
    & > .foot {
      border-top: 1px solid darken($lighter, 10%);
    }
    & > .head,
    & > .body,
    & > .foot {
      padding: 1em;
    }
  }
}

.box,
.boxes {
  margin: 1em 0;
  border: 1px solid darken($lighter, 10%);
  box-shadow: 0 2px 2px 0 transparentize($dark, .8);

  &[class^="bg-"],
  &[class^="bg-"] > .box {
    border: 0 none;
  }

  &.beauty {
    border-radius: 3px;
  }
  &.modern {
    box-shadow: 0 8px 0 -4px darken($lighter, 10%);
  }
}

.boxes {
  & > .box {
    margin: 0;
    box-shadow: unset;
    border-width: 1px 0 0 0;
  }
}

// code
@each $name, $color in $colors {
  @include bg-box('#{$name}', $color);
  @include simple-box('#{$name}', $color);
}
