@mixin hover($class, $color: $lighter) {
  &.#{$class}:hover {
    color: darken($color, 10%);
  }

  &.bg-#{$class} {
    &:hover {
      background: $color;

      @if (lightness($color) < 20%) {
        color: $white;
      }
      @else if (lightness($color) > 70%) {
        color: $dark;
      }
    }

    &.inverted {
      &:hover {
        @if (lightness($color) < 20%) {
          background: $white;
          color: $color;
          border-color: $color;
        }
      }
    }

    &.simple {
      &:hover {
        @if (lightness($color) < 20%) {
          color: $white;
          border-color: $white;
        }
        @else {
          color: lighten($color, 5%);
          border-color: lighten($color, 5%);
        }
      }
    }
  }

  &.#{$class}.simple {
    &:hover {
      border-color: darken($color, 10%);
    }
  }

  &.#{$class}.inverted {
    &:hover {
      border-color: $color;
    }

    &.simple {
      &:hover {
        @if (lightness($color) < 20%) {
          color: $lighter;
        }
        @else {
          color: $color;
        }
      }
    }
  }
}


// button definition
button,
.button {
  padding: .6em 1em;
  margin: .2em;
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
  color: $darkgrey;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  transition: all .2s ease-out;

  &:hover {
    color: $darker;
  }

  &[class*="bg-"]:hover {
    color: $white;

    &.classic {
      box-shadow: 0px 0px 1px 0px transparentize($darker, .5);
    }
  }

  &[class*="bg-"].inverted.simple {
    &:hover {
      background: $dark;
    }
  }

  &.tiny {
    padding: .2em .6em;
  }
  &.small {
    padding: .4em .8em;
  }
  &.large {
    padding: .8em 1.2em;
    font-size: 1.2rem;
  }
  &.huge {
    padding: 1em 1.4em;
    font-size: 1.4rem;
  }

  // code
  @each $name, $color in $colors {
    @include hover('#{$name}', $color);
  }

  &.simple {
    color: $darkgrey;
    border-color: $darkgrey;
  }
}

.buttons {
  & {
    margin: .2em;
    display: inline-flex;

    &[class*="bg-"] {
      color: $lighter;
    }
  }

  &.vertical {
    display: block;
    &.fluid {
      & > button,
      & > .button {
        width: 100%;
      }
    }
  }

  button,
  .button {
    margin: 0;
    color: transparentize($lighter, .12);

    &:hover {
      color: $white;
    }
  }

  &.beauty {
    & > button,
    & > .button {
      &:first-child {
        border-radius: .4em 0 0 .4em;
      }
      &:last-child {
        border-radius: 0 .4em .4em 0;
      }
    }

    &.vertical {
      & > button,
      & > .button {
        &:first-child {
          border-radius: .4em .4em 0 0;
        }
        &:last-child {
          border-radius: 0 0 .4em .4em;
        }
      }
    }
  }
}
