.container {
  width: 100%;

  $percent: $container/100;

  @each $device, $width in $responsive-grid {
    @if ($width > $tablet-min) {
      @media (min-width: $width) {
        width: #{$width - ($width*$percent)};
      }
    }
  }

  &.fluid {
    max-width: 100%;
  }
}
