.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  $percent: $container/100;

  @each $device, $width in $responsive-grid {
    @if ($width > $tablet-min) {
      @media (min-width: $width) {
        width: #{$width - ($width*$percent)};
      }
    }
  }

  @media(min-width: $large-pc-def) {
    width: $large-pc-min;
  }
  
  &.fluid {
    max-width: 100%;
  }
}
