@mixin grid($class, $property) {
  @for $i from 1 through $grid-columns {
    $percent: percentage($i/$grid-columns);
    @if ($percent>100%) {
      $percent: 100%;
    }
    .#{$class}-#{$i} {
      #{$property}: $percent;
    }
  }
}

@mixin grid-small($class, $property) {
  @media (min-width: #{$tablet-min}) and (max-width: #{$pc-min - 1}) {
    @for $i from 1 through $grid-columns {
      $percent: percentage($i/($grid-columns/2));
      @if ($i<$grid-columns/2) {
        .#{$class}-#{$i} {
          #{$property}: $percent;
        }
      }
    }
  }
}

@mixin grid-mini($class, $property, $all) {
  @media (max-width: #{$tablet-min - 1}) {
    @for $i from 1 through $grid-columns {
      .#{$class}-#{$i} {
        @if ($all) {
          #{$property}: 100%;
        }
        @else {
          #{$property}: 0;
        }
      }
    }
  }
}

// grid variables
$column: col;
$grid-columns: 12;
$column-left-margin: to-right;

$mobile-min: 320px;
$tablet-min: 768px;
$pc-min: 992px;

.grid {
  top: 0;

  & > .row > [class*="#{$column}-"] {
    padding: 1em;
  }
}

.row {
  & {
    margin: 1em 0 0;
    position: relative;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &:first-child {
    margin-top: 0;
  }

  & > [class*="#{$column}-"] {
    float: left;
  }
}
.row > {
  @include grid($column, width);
  @include grid-small($column, width);
  @include grid-mini($column, width, true);

  @include grid($column-left-margin, margin-left);
  @include grid-mini($column-left-margin, margin-left, false);
}
