@mixin grid($class, $grid-value, $property) {
  @media (min-width: 992px) {
    @for $i from 1 through $grid-columns {
      $percent: percentage($i/$grid-value);
      @if ($percent>100%) {
        $percent: 100%;
      }
      .#{$class}-#{$i} {
        #{$property}: $percent;
      }
    }
  }
}

@mixin grid-small($class, $grid-value, $property) {
  @media (min-width: 768px) and (max-width: 991px) {
    @for $i from 1 through $grid-columns {
      $percent: percentage($i/($grid-value/2));
      @if ($percent>100%) {
        $percent: 100%;
      }
      .#{$class}-#{$i} {
        #{$property}: $percent;
      }
    }
  }
}

@mixin grid-mini($class, $grid-value, $property) {
  @media (max-width: 767px) {
    @for $i from 1 through $grid-columns {
      .#{$class}-#{$i} {
        #{$property}: 100%;
      }
    }
  }
}

// grid variables
$column: col;
$grid-columns: 12;
$column-left-margin: to-right;

.grid {
  top: 0;
}

.row {
  & {
    margin: 1em 0 0;
    position: relative;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &:first-child {
    margin-top: 0;
  }

  & > [class*="#{$column}-"] {
    float: left;
    padding: 1em;
  }
}
.row > {
  @include grid($column, $grid-columns, width);
  @include grid-small($column, $grid-columns, width);
  @include grid-mini($column, $grid-columns, width);

  @include grid($column-left-margin, $grid-columns - 1, margin-left);
}
